


.navBar {
    grid-template-columns: auto auto auto;
    padding: 4px;
}

.navList {
    background-color: black;
  border: 5px solid whitesmoke;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration-color: lime;
  font-family: 'Courier New', Courier, monospace;

}
/* 
https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

@media screen and (max-width: 800px) {
.images {
  flex: 50%;
    max-width: 50%;
  }

}

body {
  background-color: black;
}

.img {
  border: 2px solid whitesmoke 
}